@charset "UTF-8";
/* CSS Document */



				body 
				{ background-color: lightblue;
					margin-right: 150px;
				margin-left: 150px;	
			
				}

				h1 
				{
				color: green;
				text-align: center;
				border-style: dotted;

				}

				p 
				{
				
				background-color: blueviolet;

				font-family: verdana;
				font-size: 20 px;
				text-align: center;
				
				}
			    
			    h2
				{
				text-align: center; 
				font-family: verdana;
				font-size: 10px;
				}
			
			    h3
				{
				text-align: center; 
				font-family: verdana;
				font-size: 8px;
				}


		

